body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}
.name-highlight {
  color: forestgreen;
}

.half-width {
  width: 30%;
  float: left;
  margin: 5%;
  padding-left: 2%;
}

.half-width img {
  width: 80%;
  margin-left: 50px;
}

.top-banner {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}

section {
  height: 700px;
}

.visitnowbttn {
  text-decoration: none;
  background-image: linear-gradient(45deg, #85e085, #00e600);
  padding: 10px 20px;
  border-radius: 5px;
  color: aliceblue;
  font-weight: 700;
}

.dream-area {
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
.feture {
  box-shadow: 10px 10px 40px gray;
  border-radius: 10px;
  height: 50%;
  background-color: white;
}

.experiance-area {
  background-image: url("images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
}

#online {
  border-left: 7px solid;
  border-image: linear-gradient(45deg, #85e085, #00e600);
  border-image-slice: 1;
}

#fresh {
  border-left: 7px solid;
  border-image: linear-gradient(45deg, #427242, #06ee06);
  border-image-slice: 1;
}

footer p {
  text-align: center;
  font-size: 12px;
}
